<table class="table table-striped table-bordered">
    <tr>
        <th>Nom</th>
        <th>Profils</th>
        <th>Compétences</th>
    </tr>
    <tr>
        <td>Sébastien Brousse</td>
        <td>Ragoteur</td>
        <td>Montage de meuble en kit</td>
    </tr>
    <tr>
        <td>Alexandre Baron</td>
        <td>Bean gosse à mêche</td>
        <td>50 m nage libre en 43'</td>
    </tr>
    <tr>
        <td>Grégory Le Bonniec</td>
        <td>Français libre</td>
        <td>Apprécie l'art moderne</td>
    </tr>
    <tr>
        <td>Raphaël Delaporte</td>
        <td>Eleveur de canard</td>
        <td>Coin-coin</td>
    </tr>
</table>
<div class="pagination pagination-centered">
    <ul>
        <li class="disabled"><a href="#">«</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">»</a></li>
    </ul>
</div>